body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;

  background: radial-gradient(
      circle at 50% 0,
      rgba(236, 111, 77, 0.5),
      rgba(0, 0, 0, 0) 70.71%
    ),
    radial-gradient(
      circle at 6.7% 75%,
      rgba(77, 202, 236, 0.5),
      rgba(0, 0, 0, 0) 70.71%
    ),
    radial-gradient(
      circle at 93.3% 75%,
      rgba(77, 123, 236, 0.5),
      rgba(0, 0, 0, 0) 70.71%
    );
}

h1,
.weather-temperature {
  color: #ec6e4c;
  font-size: 50px;
  line-height: 45px;
  margin-bottom: 20px;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 70px auto;
}

.weather-app {
  padding: 50px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: rgb(255, 255, 255, 0.1);
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  border-right: 1px solid rgb(255, 255, 255, 0.2);
}

#search-form {
  text-align: center;
  display: block;
}

#city-input {
  width: 100%;
  background: rgb(255, 255, 255, 0.2);
  border: none;
  outline: none;
}

.currentLocation {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.overview {
  margin: 50px auto;
}

.weather-icon {
  text-align: right;
}

.weather-temperature .unit {
  position: relative;
  color: white;
  font-size: 16px;
  top: -10px;
}

.weather-info {
  text-align: left;
}

.weather-temperature .active {
  color: white;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

small {
  text-align: center;
  display: block;
  margin-top: 10px;
}
